{% if site.footer_fixed %}
<footer class="fixed-bottom  text-align: center;">
  <div class="container mt-0" style="text-align: center;">
    <table border="0" height="1" width="100%">
      <tr>
        <td bgcolor="#800517"></td>
    </table>
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.title }}.
  </div>
</footer>
{% else %}
<footer class="sticky-bottom mt-5">
  <div class="container"  style="text-align: center;">
    &copy; Copyright {{ site.time | date: '%Y' }} {{ site.title }}.
  </div>
</footer>
{% endif %}
