
<h2>Preprints and in preparation</h2>		 

<ol reversed>

  <li>
    <p>
      adssdsd
    </p>

  <li>
    <p>
      klklk lk 
    </p>
</ol>

<ol reversed>

  <li>
    <p>
      <author>
	Muhamadiev E.M, Nazarov M.
      </author> 
      On almost periodic solutions of the Poisson's equation.
      <br>
      (2017);
      <journal>
	submitted
      </journal> 
    </p>

  <li>
    <p>
      <author>
	Guermond J.-L., Nazarov M., Popov B.
      </author> 
      Convergence of an invariant domain preserving scheme.
      <br>
      (2017);
      <journal>
	to be submitted.
      </journal> 
    </p>
</ol>



    <h2>Journal Papers</h2>		 

<ol continue>
  <li>
    <p>
      <author>
	Muhamadiev E. and Nazarov M.
      </author> 
      Regularity of almost periodic solutions of Poisson's equation.
      <br>
      (2020);
      <journal>
	Ufa Mathematical Journal.
      </journal> 
      <b>accepted</b>
      [&nbsp;
      <a href="https://www.researchgate.net/publication/339499377_Regularity_of_almost_periodic_solutions_of_Poisson's_equation#fullTextFileContent">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Lu L., Nazarov M., Fischer P.
      </author> 
      Nonlinear artificial viscosity for spectral element methods.
      <br>
      (2019);
      <journal>
	Comptes Rendus Mathematique
      </journal> 
      <b>357</b>(7): 646-654
      [&nbsp;
      <a href="https://doi.org/10.1016/j.crma.2019.07.006">DOI</a>&nbsp; |
      <a href="nazarov_all.html#Guermond_et_al_2018">bib</a>&nbsp; |
      <a href="https://www.sciencedirect.com/science/article/pii/S1631073X1930158X">URL</a>&nbsp; |
      <a href="https://www.researchgate.net/publication/335375184_Nonlinear_artificial_viscosity_for_spectral_element_methods">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Guermond J.-L., Nazarov M., Popov B., Tomas I.
      </author> 
      Second-order invariant domain preserving approximation of the Euler equations using convex limiting.
      <br>
      (2018);
      <journal>
	SIAM J. Sci. Computing
      </journal> 
      <b>40</b>(5): A3211-A3239  
      [&nbsp;
      <a href="https://doi.org/10.1137/17M1149961">DOI</a>&nbsp; |
      <a href="nazarov_all.html#Guermond_et_al_2018">bib</a>&nbsp; |
      <a href="https://epubs.siam.org/doi/abs/10.1137/17M1149961">URL</a>&nbsp; |
      <a href="https://www.math.tamu.edu/~guermond/PUBLICATIONS/guermond_nazarov_popov_tomas_SISC_2018.pdf">PDF</a>&nbsp; |
      <a href="https://www.math.tamu.edu/~guermond/PUBLICATIONS/guermond_nazarov_popov_tomas_SISC_2018_supplementary.pdf">Suplementary materials</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Nazarov M., Larcher A..
      </author> 
      Numerical investigation of a viscous regularization of the Euler equations by Entropy Viscosity.
      <br>
      (2017);
      <journal>
	Computer Methods in Applied Mechanics and Engineering
      </journal> 
      <b>317</b>: 128-152  
      [&nbsp;
      <a href="https://doi.org/10.1016/j.cma.2016.12.010">DOI</a>&nbsp; |
      <a href="nazarov_all.html#Nazarov_Larcher_2017">bib</a>&nbsp; |
      <a href="http://dx.doi.org/10.1016/j.cma.2016.12.010">URL</a>&nbsp; |
      <a href="preprints/Nazarov_Larcher.pdf">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Marras S., Nazarov M., Francis X. Giraldo.
      </author> 
      Stabilized high-order Galerkin methods based on a parameter-free dynamic SGS model for LES.
      <br>
      (2015);
      <journal>
	Journal of Computational Physics.
      </journal> 
      <b>301</b>: 77-101 
      [&nbsp;<a href="http://dx.doi.org/10.1016/j.jcp.2015.07.034">DOI</a>&nbsp; |
      <a href="nazarov_all.html#Simone_et_al_2015">bib</a>&nbsp; |
      <a href="http://www.sciencedirect.com/science/article/pii/S0021999115004799">URL</a>&nbsp; |
      <a href="">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Buerg M. and Nazarov M.
      </author> 
      Goal-oriented adaptive finite element methods for elliptic problems revisited.
      <br>
      (2015);
      <journal>
	Journal of Computational and Applied Mathematics.
      </journal> 
      <b>287</b>: 125-147
      [&nbsp;
      <a href="doi:10.1016/j.cam.2015.03.031">DOI</a>&nbsp; |
      <a href="nazarov_all.html#Buerg_Nazarov_2015">bib</a>&nbsp; |
      <a href="http://www.sciencedirect.com/science/article/pii/S0377042715001843">URL</a>&nbsp; |
      <a href="preprints/BuergNazarov2015.pdf">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Muhamadiev E.M. and Nazarov M.
      </author> 
      Optimal bounds for a Lagrange interpolation 
      inequality for piecewise linear continuous finite elements
      in two space dimensions.
      <br>
      (2015);
      <journal>
	Journal of Mathematical Analysis and Applications.
      </journal>
      <b>423</b>(2): 940 - 955.
      [&nbsp;<a href="http://dx.doi.org/10.1016/j.jmaa.2014.10.027">DOI</a>&nbsp; |
      <a href="nazarov_all.html#Muhamadiev_Nazarov_2015">bib</a>&nbsp; |
      <a href="http://www.sciencedirect.com/science/article/pii/S0022247X14009548">URL</a>&nbsp; |
      <a href="preprints/MuhamadievNazarov2013.pdf">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Guermond J.-L., Nazarov M., Popov B. and Yong Yang.
      </author> 
      A second-order maximum principle preserving Lagrange finite
      element technique for nonlinear scalar conservation equations.
      <br>
      (2014);
      <journal>
	SIAM Journal of Numerical Analysis. 
      </journal>
      <b>52</b>(4): 2163-2182.
      [&nbsp;<a href="http://dx.doi.org/10.1137/130950240">DOI</a>&nbsp; |
      <a href="http://epubs.siam.org/doi/abs/10.1137/130950240">URL</a>&nbsp; |
      <a href="nazarov_all.html#MR3249370">bib</a>&nbsp; |
      <a href="http://www.math.tamu.edu/~guermond/PUBLICATIONS/guermond_nazarov_popov_yong_SINUM_2014.pdf">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Guermond J.-L. and Nazarov M.
      </author> 
      A maximum-principle preserving $C^0$ finite element method for scalar conservation equations.
      <br>
      (2014);
      <journal>
	Computer Methods in Applied Mechanics and Engineering,
      </journal>
      <b>272</b>: 198-213.
      [&nbsp;<a href="http://dx.doi.org/10.1016/j.cma.2013.12.015">DOI</a>&nbsp; |
      <a href="http://www.sciencedirect.com/science/article/pii/S0045782514000024">URL</a>&nbsp; |
      <a href="nazarov_all.html#GuermondNazarov2014">bib</a>&nbsp; |
      <a href="http://www.math.tamu.edu/~guermond/PUBLICATIONS/guermond_nazarov_cmame_2014.pdf">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Nazarov M.
      </author> 
      Convergence of a residual based artificial viscosity 
      finite element method.
      <br>
      (2013); 
      <journal>
	Computers & Mathematics  with Applications,
      </journal>
      <b>65</b>(4): 616-626.
      [&nbsp;<a href="http://dx.doi.org/10.1016/j.camwa.2012.11.003">DOI</a>&nbsp; |
      <a href="http://www.sciencedirect.com/science/article/pii/S0898122112006499">URL</a>&nbsp; |
      <a href="nazarov_all.html#Nazarov2012">bib</a>&nbsp; |
      <a href="preprints/NazarovRV2012.pdf">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Nazarov M, Hoffman J.
      </author> 
      Residual based artificial viscosity for simulation of turbulent
      compressible flow using adaptive finite element methods.
      <br>
      (2013); 
      <journal>
	Int. J. Num. Methods Fluids, 
      </journal>
      <b>71</b>(3): 339-357.
      [&nbsp;<a href="http://dx.doi.org/10.1002/fld.3663">DOI</a>&nbsp; |
      <a href="http://onlinelibrary.wiley.com/doi/10.1002/fld.3663/abstract">URL</a>&nbsp; |
      <a href="nazarov_all.html#NazarovHoffman2012_2">bib</a>&nbsp; |
      <a href="preprints/NazarovHoffman2012_2.pdf">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Nazarov M, Hoffman J.
      </author> 
      On the stability of the dual problem for high reynolds number
      flow past a circular cylinder in two dimensions.
      <br>
      (2012); 
      <journal>
	SIAM J. Sci. Comput.,
      </journal>
      <b>34</b>(4), A1905-A1924.
      [&nbsp;<a href="http://dx.doi.org/10.1137/110836213">DOI</a>&nbsp; |
      <a href="http://epubs.siam.org/doi/abs/10.1137/110836213">URL</a>&nbsp; |
      <a href="nazarov_all.html#NazarovHoffman2012_1">bib</a>&nbsp; |
      <a href="preprints/NazarovHoffman2012_1.pdf">PDF</a>
      ]
    </p>


  <li>
    <p>
      <author>
	Hoffman J, Jansson J, de Abreu RV, Degirmenci C, Jansson N, Muller K, Nazarov M,
	Spuhler J.
      </author> 
      Unicorn: parallel adaptive finite element simulation of turbulent flow and
      fluid-structure interaction for deforming domains and complex geometry.
      <br>
      (2012); 
      <journal>
	Computers & Fluids, doi:10.1016/j.compfluid.2012.02.003.
      </journal> 
      [&nbsp;<a href="http://dx.doi.org/10.1016/j.compfluid.2012.02.003">DOI</a>&nbsp; |
      <a href="http://www.sciencedirect.com/science/article/pii/S0045793012000473">URL</a>&nbsp;
      |&nbsp;<a href="nazarov_all.html#HoffmanCF12">bib</a>&nbsp; |
      <a href="http://www.publ.kth.se/trita/ctl-4/026/kth-ctl-4026.pdf">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Hoffman J, Jansson J, Degirmenci C, Jansson N, Nazarov M.
      </author> 
      Unicorn: a unified continuum mechanics solver.
      <br>
      (2011); 
      <journal>
	Automated solution of differential equations by the finite element
	method,
      </journal>
      (Eds. A.Logg, K-A.Mardal, G.N.Wells), 
      Volume 84 of Lecture Notes in Computational Science and Engineering, Springer, Chapter 18.
      [&nbsp;<a href="nazarov_all.html#HoJa:fenicsfsi:11">bib</a>&nbsp;]
    </p>

  <li>
    <p>
      <author>
	Jansson N, Hoffman J, Nazarov M.
      </author> 
      Adaptive simulation of turbulent flow past a full car model,
      <br>
      (2011); 
      <journal>
	State of the Practice Reports,  
      </journal> 
      SC'11, ACM: New York, NY, USA, 20:1-20:8.
      [&nbsp;<a href="http://doi.acm.org/10.1145/2063348.2063375">DOI </a>|
      <a href="http://doi.acm.org/10.1145/2063348.2063375">URL</a>&nbsp;
      |&nbsp;<a href="nazarov_all.html#Jansson:2011">bib</a>&nbsp; |
      <a href="http://www.publ.kth.se/trita/ctl-4/014/kth-ctl-4014.pdf">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Nazarov M, Hoffman J.
      </author> 
      An adaptive finite element method for inviscid compressible flow.
      <br>
      (2010); 
      <journal>
	Int. J. Numer. Meth. Fluids, 
      </journal> 
      <b>64</b>(10-12): 1102-1128.
      [&nbsp;<a href="http://dx.doi.org/10.1002/fld.2335">DOI </a>|
      <a href="http://dx.doi.org/10.1002/fld.2335">URL</a>&nbsp;
      |&nbsp;<a href="nazarov_all.html#NazarovHoffman2010">bib</a>&nbsp; |
      <a href="preprints/NazarovHoffman2010.pdf">PDF</a>
      ]
    </p>

    <h2>Technical reports</h2>		 
  <li>
    <p>
      <author>
	Nazarov M, Guermond J.-L., Popov B.
      </author> 
      A posteriori error estimation for the compressible 
      Euler equations using entropy viscosity,
      <br>
      (2011); 
      <journal>
	Technical Report 4017,
      </journal> 
      KTH, NA).
      [&nbsp;<a href="nazarov_all.html#NazarovGuPo11">bib</a>&nbsp;]
    </p>

  <li>
    <p>
      <author>
	Guermond J.-L., Nazarov M, Popov B.
      </author> 
      Implementation of the entropy viscosity method.
      <br>
      (2011); 
      <journal>
	Technical Report 4015,
      </journal> 
      KTH, Numerical Analysis, NA.
      [&nbsp;<a href="nazarov_all.html#GuermondNaPo11">bib</a>&nbsp;]
    </p>

  <li>
    <p>
      <author>
	Hoffman J., Johnson C. and Nazarov M.
      </author> 
      Computational Foundation of Thermodynamics.
      <br>
      (2008); 
    </p>

    <h2>Thesis and dissertations</h2>		 
  <li>
    <p>
      <author>
	Nazarov M.
      </author> 
      Adaptive algorithms and high order stabilization for finite element computation 
      of turbulent compressible flow.
      <br>
      (2011); 
      <journal>
	PhD thesis, 
      </journal> 
      KTH, Sweden.
      [&nbsp;<a href="http://kth.diva-portal.org/smash/record.jsf?pid=diva2:421860">URL</a>&nbsp;
      |&nbsp;<a href="nazarov_all.html#Nazarov:doctor">bib</a>&nbsp; |
      <a href="http://kth.diva-portal.org/smash/record.jsf?pid=diva2:421860">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Nazarov M.
      </author> 
      An adaptive finite element method for the compressible Euler equations.
      <br>
      (2009); 
      <journal>
	Licenciate thesis, No. 2009:13 in Trita-CSC-A,
      </journal> 
      KTH, Sweden.
      [&nbsp;<a href="http://kth.diva-portal.org/smash/record.jsf?searchId=1&pid=diva2:219786">URL</a>&nbsp;
      |&nbsp;<a href="nazarov_all.html#Nazarov09">bib</a>&nbsp; |
      <a href="http://kth.diva-portal.org/smash/record.jsf?searchId=1&pid=diva2:219786">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Nazarov M.
      </author> 
      Phase-field simulations.
      <br>
      (2006); 
      <journal>
	Master of Science thesis, Technical Report 2006:12,
      </journal> 
      KTH, Sweden.
      [&nbsp;<a href="nazarov_all.html#Nazarov06">bib</a>&nbsp; |
      <a href="preprints/NazarovMScThesis2006.pdf">PDF</a>
      ]
    </p>

  <li>
    <p>
      <author>
	Nazarov M.
      </author> 
      The theorem of Beer-Hausdorff and it's applications,
      <br>
      (2002); 
      <journal>
	Master of Science thesis,
      </journal> 
      KhSU, Tajikistan.
      [&nbsp;<a href="nazarov_all.html#Nazarov02">bib</a>&nbsp;]
    </p>

    <h2>Conference proceedings</h2>		 

  <li>
    <p>
      <author>
	Nazarov M.
      </author> 
      A stabilized finite element method for the Surface-Quasi-Geostrophic equation
      <br>
      (2019); 
      <journal>
	Proc. 10th International Scientific-Technical Conference, INFOS-2019
      </journal> 
      VSTU, Russia. p: 8-11
      [&nbsp;<a href="nazarov_all.html">bib</a>&nbsp;]
    </p>

  <li>
    <p>
      <author>
	Nazarov M.
      </author>
      Smoothing of a nonlinear viscosity.
      <br>
      (2018); 
      <journal>
	International Conference in Mathematics to honor of Prof. Ilolov M.
      </journal> 
      Tajik State National University, Tajikistan.
      [&nbsp;<a href="">bib</a>&nbsp;]
    </p>

  <li>
    <p>
      <author>
	Muhamadiev E. and Nazarov M.
      </author>
      On almost periodic solutions of the Poisson's equation.
      <br>
      (2017); 
      <journal>
	International math conference in theory of functions,
      </journal> 
      Bashkir State University, Ufa, Russia
      [&nbsp;<a href="">bib</a>&nbsp;]
    </p>

  <li>
    <p>
      <author>
	Nazarov M.
      </author> 
      Convergence of a goal-oriented adaptive algorithm for elliptic problems.
      <br>
      (2015); 
      <journal>
	International Conference in Mathematics to honor of Prof. Stecenko,
      </journal> 
      Tajik State National University, Tajikistan	
      [&nbsp;<a href="nazarov_all.html#azarovVSTU09">bib</a>&nbsp;]
    </p>

  <li>
    <p>
      <author>
	Muhamadiev E. and Nazarov M.
      </author> 
      Notes on the estimation of an interpolation inequality for piecewise linear finite element approximations.
      <br>
      (2014); 
      <journal>
	International Conference in Mathematics and its Applications,
      </journal> 
      Khujand State University, Tajikistan
      [&nbsp;<a href="nazarov_all.html#azarovVSTU09">bib</a>&nbsp;]
    </p>

  <li>
    <p>
      <author>
	Nazarov M.
      </author> 
      Adaptive DNS/LES for two dimensional supersonic flow around a wedge.
      <br>
      (2009); 
      <journal>
	Proc. 5th International Scientific-Technical Conference,
      </journal> 
      VSTU, Russia.
      [&nbsp;<a href="nazarov_all.html#NazarovVSTU09">bib</a>&nbsp;]
    </p>

  <li>
    <p>
      <author>
	Nazarov M.
      </author> 
      About the behavior of solutions of some classes of differential equations in
      2d around critical points.
      <br>
      (2004); 
      <journal>
	International Conference on Mathematics: Actual problems
	of mathematics and its applications,
      </journal> 
      TSU. Khujand, Tajikistan.
      [&nbsp;<a href="nazarov_all.html#Nazarov04">bib</a>&nbsp;]
    </p>

  <li>
    <p>
      <author>
	Nazarov M.
      </author> 
      On resolvability of some classes of boundary value problems.
      <br>
      (2004); 
      <journal>
	International Conference on Applied Mathematics,
      </journal> 
      Tajik State National University, Dushanbe, Tajikistan.
      [&nbsp;<a href="nazarov_all.html#Nazarov03">bib</a>&nbsp;]
    </p>

    <h2>Popular science presentations</h2>		 

  <li>
    <p>
      <author>
	Nazarov M.
      </author>
      Contribution to a special exhibition on computer simulations.
      <br>
      (2017); 
      <journal>
	Make software, change the world!
      </journal> 
      Computer History Museum, Monterey, California, USA,
      [&nbsp;<a href="http://www.computerhistory.org/makesoftware/exhibit/car-crash-simulation">URL</a>&nbsp;]
    </p>
</o>    

