/*******************************************************************************
 * Styles for the base elements of the theme.
 ******************************************************************************/

// murtazo
author{
    font-size: 100%;
    font-variant: small-caps;
    font-family: luxi serif, georgia, times new roman, times, serif;
    margin: 0;
    /*line-height: 1.1em;*/
    line-height: 0.1em;
}

journal{
    font-size: 100%;
    font-style: italic;
    font-family: luxi serif, georgia, times new roman, times, serif;
    margin: 0;
    line-height: 1.1em;
}

h1 { font-size: 190%; }
h2 { font-size: 140%; }
h3 { font-size: 130%; }
h33 { font-size: 130%; }
h4 { font-size: 110%; }
h5 { font-size: 110%; }
h6 { font-size: 80%;  }
h7 { font-size: 80%;  }

h1, h2, h3, h33, h4, h5, h6 {
    color: #800517;/*#400000;*/ 
    font-weight: normal;
    font-family: luxi serif, georgia, times new roman, times, serif;
    background: none;
}

h6{
    padding: 10 0 0;
    padding-bottom: 5;
    padding-top: 0;
}

h5{
    padding: 5 0 0;
    padding-bottom: 5;
    padding-top: 0;
}

h4{
    margin-top: 1em;
}

h3{
    padding: 10 0 0;
    padding-bottom: 5;
    padding-top: 10;
}

h2{
    padding: 10 0 0;
    padding-bottom: 10;
}

h3{
    padding: 10 0 0;
    padding-bottom: 10;
}

h33{
    margin-left:-1.7em;
}

h7{
    font-weight: normal;
    font-family: Courier, monospace;
    background: none;
    padding: 0 0 0;
    line-height: 1.1em;
}


author{
    font-size: 100%;
    font-variant: small-caps;
    font-family: luxi serif, georgia, times new roman, times, serif;
    margin: 0;
    /*line-height: 1.1em;*/
    line-height: 0.1em;
}

//ol {
//    padding-left: 0em;
//    margin-block-start: 0em; 
//}

ol li {
    margin: 0;
    padding-left: 0;
    list-style-type: decimal;
}

div.my_footer {
    text-align: center;
    margin-top: -2em;
    margin-bottom: 0;
}

div.par{
    font-weight: normal;
    font-family: luxi serif, georgia, times new roman, times, serif;
    left-margin: 0;
    line-height: 1.4em;
    padding: 0 20 20;
    /*color: #888;*/
}

div.teaching{
    font-weight: 100;
    //font-family: luxi serif, georgia, times new roman, times, serif;
    left-margin: 0;
    //line-height: 1.4em;
    //padding: 0 0 0;
    /*color: #888;*/
}

div.par{
    font-weight: normal;
    //font-family: luxi serif, georgia, times new roman, times, serif;
    left-margin: 0;
    line-height: 1.4em;
    padding: 0 20 20;
    /*color: #888;*/
}


////
//// end of editing of murtazo


// Typography

a, table.table a {
  color:  #800517; //$theme-color;
  &:hover {
      color: #e70300; //#9a0200; //$theme-color;
    text-decoration: underline;
  }
  &:hover:after {
    width: 100%;
  }
}

// Math

.equation {
  margin-bottom: 1rem;
  text-align: center;
}

// Caption

.caption {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  text-align: center;
}


// Profile

.profile {
    .address {
	//font-family: luxi serif, georgia, times new roman, times, serif;
	text-align: center;
	font-family: monospace;
	margin-top: 0.75;
      font-size: 1rem;
      p {
          margin: 0;
	  padding-bottom: 0;
      }
    }
}


// Navbar customization

.navbar {
  box-shadow: none;
  //border-bottom: 1px solid $grey-color-light;
  opacity: 0.95;
}

.navbar.navbar-light {
  // Remove link decoration
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .navbar-nav .nav-item .nav-link {
      color: #800517;/*#400000;*/ 
      font-weight: bolder;
      font-family: luxi serif, georgia, times new roman, times, serif;
      font-size: 100%;
      //
      &:hover {
	color: #e70300; // #9a0200; //$theme-color;
	//color: $theme-color;
    }
  }
  .navbar-nav .nav-item.active>.nav-link {
      background-color: inherit;
      color: $theme-color;
      //color: #800517;
      font-weight: bolder;
      &:hover {
          color: #e70300; // #9a0200; //$theme-color;
          //color: $theme-color;
      }
  }
  .contact-icon {
    font-size: 2rem;
    a {
      color: $grey-color-dark;
      &:hover {
          //color: #e70300; // #9a0200; //$theme-color;
          color: $theme-color;
      }
    }
  }
}

.navbar-toggler {
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background-color: $grey-color-dark;
    border-radius: 1px;
    margin-bottom: 4px;
    transition: all 0.2s;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}


// News

.news table td {
  font-size: 1rem;
}


// Social (bottom)

.social {
  text-align: center;
  .contact-icon {
    font-size: 4rem;
    a {
      color:  #800517; // $grey-color-dark;
      &:hover {
          color: #e70300; // #800517; // $theme-color;
      }
    }
  }
  .contact-note {
    font-size: 0.8rem;
  }
}


// Footer

footer.fixed-bottom {
    //border-top: 0px solid #800517;
    color: #6b6a6a; //lighten($grey-color, 100%);
    background-color: #ffffff; //$grey-color-dark;
    font-size: 0.75rem;
  .container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  a {
    color: white;
    &:hover {
      color: lighten($theme-color, 25%);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  border-top: 1px solid $grey-color-light;
  padding-top: 0em;
  padding-bottom: 0px;
  font-size: 0.9rem;
  text-align: center;
}


// Blog

.header-bar {
  border-bottom: 0px solid #800517;
  //border-bottom: 1px solid $grey-color-light;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
//  h1 {
//    color: $theme-color;
//    font-size: 5rem;
//  }
}

.post-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  li {
    border-bottom: 1px solid $grey-color-light;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .post-meta {
      color: $grey-color;
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: $theme-color;
      }
    }
  }
}

.pagination .page-item.active .page-link {
  background-color: $theme-color;
  &:hover {
    background-color: $theme-color;
  }
}


// Distill

.distill {
  a:hover {
    border-bottom-color: $theme-color;
    text-decoration: none;
  }
}


// Projects

.projects {
  .grid-item {
      //width: 250px;
      width: 100%;
    margin-bottom: 10px;
    a {
      color: black;
      text-decoration: none;
      &:hover {
        color: $theme-color;
      }
    }
  }
  .card img {
    width: 100%;
  }
}


// Publications

.publications {
  margin-top: 2rem;
  h2.year {
    color: $grey-color-light;
    border-top: 1px solid $grey-color-light;
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }
  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;
      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;
        abbr {
          display: inline-block;
          background-color: $theme-color;
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
      span {
        display: block;
      }
      .title {
        font-weight: bolder;
      }
      .author {
        a {
          border-bottom: 1px dashed $theme-color;
          &:hover {
              border-bottom-style: solid;
              text-decoration: none;
          }
        }
        > em {
          border-bottom: 1px solid;
          font-style: normal;
        }
      }
      em.star {
        border-bottom: none;
        color: $theme-color;
        font-style: normal;
      }
      a.abstract, a.bibtex {
        cursor: pointer;
      }
      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }
        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }
      .hidden.open {
        max-height: 100em;
        -webkit-transition: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }
      span.abstract.hidden {
        border: dashed 1px white;
      }
      span.abstract.hidden.open {
        border-color: $grey-color;
      }
    }
  }
}
